<div class="modal modal-submitting" id="modal-submitting-<%=_id%>" tabindex="3" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">DELETE</h5>
                <button type="button" class="btn-close" data-dismiss=" modal " aria-label="Close " onClick="modal_submitting_close( '<%=_id  %>') ">
        </button>
            </div>
            <div class="modal-body ">
                <p>Are you Sure to delete this Project </p>
            </div>
            <div class="modal-footer ">
                <button type="submit" class="btn btn-danger ">Delete</button>
                <button type="button" class="btn btn-secondary " onClick="modal_submitting_close( '<%=_id  %>') ">Close</button>
            </div>
        </div>
    </div>
</div>